<header>
  <div class="site-logo" role="img" aria-label="Nordic Giant Digital, LLC, logo: Two mountains, represented by triangles, overlapping.">
    <svg viewBox="0 0 76 45" aria-hidden="true">
      <g class="mountain mountain-left">
        <path class="logo-path" d="M25.47 1 L0.87 43.61 h49.2 Z"/>
      </g>
      <g class="mountain mountain-right">
        <path class="logo-path" d="M50.07 1 L25.47 43.61 h49.2 Z"/>
      </g>
    </svg>
  </div>
  <p class="header-contact">
    <a href="#contact">Contact us</a>
  </p>
</header>
