<div class="team-grid">
  <article class="team-member">
    <div class="team-member__header">
      <div class="team-member__photo" aria-hidden="true"></div>
      <h4>Traci Meisenheimer</h4>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>
        <a href="tel:+19132283032">913-228-3032</a><br>
        <a href="mailto:traci.meisenheimer@nordicgiantdigital.com">tm@nordicgiantdigital.com</a>
    </p>
  </article>
  <article class="team-member">
    <div class="team-member__header">
      <div class="team-member__photo" aria-hidden="true"></div>
      <h4>Per &ldquo;Pierre&rdquo; J&oslash;rgensen</h4>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>
        <a href="tel:+19132283080">913-228-3080</a><br>
        <a href="mailto:per.jorgensen@nordicgiantdigital.com">pj@nordicgiantdigital.com</a>
    </p>
  </article>
</div>
