<div class="team-grid">
  <article class="team-member">
    <img src="/Assets/images/tracim.png" alt="">
    <h4>Traci Meisenheimer</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>
        <a href="tel:+19132283032">913-228-3032</a><br>
        <a href="mailto:traci.meisenheimer@nordicgiantdigital.com">tm@nordicgiantdigital.com</a>
    </p>
  </article>
  <article class="team-member">
    <img src="/Assets/images/pierrej.png" alt="">
    <h4>Per &ldquo;Pierre&rdquo; J&oslash;rgensen</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>
        <a href="tel:+19132283080">913-228-3080</a><br>
        <a href="mailto:per.jorgensen@nordicgiantdigital.com">pj@nordicgiantdigital.com</a>
    </p>
  </article>
</div>
